<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <br>
  <div class="container">
    <div class="footer-icon">
      <a class="btn btn-default" href="https://twitter.com/udithjaye" aria-label="Twitter"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="footer-icon">
      <a class="btn btn-default" href="https://github.com/udithj" aria-label="Github"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="footer-icon">
      <a class="btn btn-default" href="https://linkedin.com/in/udith-jayasundara-9b3693122" aria-label="LinkedIn"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
